:root {
  /* Colors */
  --light-brown-color: #eca15a;
  --medium-brown-color: #c68951;
  --dark-brown-color: #5f2c11;
  --light-text-color: #dfd9d9;
  --light-background-color: #dfd9d9;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Edu NSW ACT Foundation", cursive;
}
/* font-family: "Cormorant SC", serif; */
html {
  scroll-behavior: smooth;
}
body {
  font-weight: 500;
}
/* ================
   Header section 
   ================*/
.banner-section {
  background-image: linear-gradient(
      to right bottom,
      rgba(236, 161, 90, 0.7),
      rgba(95, 44, 17, 0.702)
    ),
    url(../img/banner.jpg);
  height: 98vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 91vh);
  background-attachment: fixed;
  margin-bottom: 5rem;
}
.navbar {
  background-color: rgba(0, 0, 0, 0.4);
}
.banner-container {
  height: 98vh;
}
.banner-content h1 {
  font-size: 3rem;
  font-weight: 700;
  text-shadow: 2px 5px 6px #5f2c11;
  color: var(--light-text-color);
}
.fa {
  color: #5f2c11;
}

.banner-content button {
  text-shadow: 2px 5px 6px #5f2c11;
  font-weight: 600;
  color: var(--light-text-color);
}

.navbar-nav .nav-link,
.banner-content button {
  color: var(--light-text-color);
}
.fa:hover,
.navbar-nav .nav-link:hover,
.banner-content button:hover {
  color: rgba(95, 44, 17);
}
.fa:active,
.navbar-nav .nav-link:active,
.banner-content button:active {
  background-color: var(--light-brown-color);
}
/* Header section ends */
/* ================
Features section 
================*/
.features {
  padding: 5% 10%;
  background-color: var(--light-background-color);
}
.features-col {
  box-shadow: 0px 5px 20px rgba(95, 44, 17, 0.944);
  /* border: 1px solid var(--dark-brown-color); */
  transition: all 0.4s;
}
.features-col:hover {
  transform: translateY(-0.3rem);
}
.features-col:active {
  transform: translateY(-0.1rem);
  box-shadow: 0px 3px 10px rgba(95, 44, 17, 0.944);
}
.icon-style {
  background-color: #c68951;
  color: var(--light-text-color);
}
/* Featureseader section ends */
